# --- Dependencies ---
node_modules/
.zig-cache/

# --- Build Outputs ---
dist/
zig-out/
core/bin/*
core/omni
core/omni-wasm.wasm
core/*.o
*.wasm
*.o
bin/*

# --- Logs & Temporary Files ---
*.log
actual_stdout.txt
test-*.js
core/*.bak
# --- Environment & Configuration ---
.env
.env.*
! .env.example

# --- OS & IDE Specific ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- Private Internal ---
.internal/
